@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Menu</h2>
    <ol>
        <li>@Html.ActionLink("Create new Reservation", "Create", "Reservation")</li>
        <li>@Html.ActionLink("Update Reservation", "Update", "Reservation")</li>
        <li>@Html.ActionLink("Reservations List", "ReservationList", "Reservation")</li>
        <li>@Html.ActionLink("List Available Cars", "AvailableCars", "Car")</li>
        <li>@Html.ActionLink("Register new Customer", "Create", "Customer")</li>
        <li>@Html.ActionLink("Update Customer", "Update", "Customer")</li>
        <li>@Html.ActionLink("Customers List", "CustomersList", "Customer")</li>
        <li>@Html.ActionLink("Vip Customers List", "VipCustomersList", "Customer")</li>
        <li>@Html.ActionLink("Most recently rented cars", "RecentCars", "Car")</li>
        <li>@Html.ActionLink("Rented cars in given month", "RentedCarsInMonth", "Car")</li>
    </ol>
</div>