@model IEnumerable<RentC.DataAccess.Models.QueryModels.QueryReservation>

@{
    ViewBag.Title = "ReservationList";
}

<h2>ReservationList</h2>

@using (Html.BeginForm())
{
<table class="table">
    <tr>
        <th>
            <input type="submit" value="Submit" class="btn btn-default" />
        </th>
    </tr>
    <tr>
        <th>
            <label class="control-label">Sort asc</label>
            @Html.RadioButton("orderBy", "Plate")
        </th>
        <th>
            <label class="control-label">Sort asc</label>
            @Html.RadioButton("orderBy", "CustomerId")
        </th>
        <th>
            <label class="control-label">Sort asc</label>
            @Html.RadioButton("orderBy", "StartDate")
        </th>
        <th>
            <label class="control-label">Sort asc</label>
            @Html.RadioButton("orderBy", "EndDate")
        </th>
        <th>
            <label class="control-label">Sort asc</label>
            @Html.RadioButton("orderBy", "Location")
        </th>
    </tr>
    <tr>
        <th>
            <label class="control-label">Sort desc</label>
            @Html.RadioButton("orderBy", "Plate")
        </th>
        <th>
            <label class="control-label">Sort desc</label>
            @Html.RadioButton("orderBy", "CustomerId")
        </th>
        <th>
            <label class="control-label">Sort desc</label>
            @Html.RadioButton("orderBy", "StartDate")
        </th>
        <th>
            <label class="control-label">Sort desc</label>
            @Html.RadioButton("orderBy", "EndDate")
        </th>
        <th>
            <label class="control-label">Sort desc</label>
            @Html.RadioButton("orderBy", "Location")
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Plate)
            @Html.Editor("plate")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerId)
            @Html.Editor("customerId")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
            @Html.Editor("startDate")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
            @Html.Editor("endDate")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
            @Html.Editor("location")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Plate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
        </tr>
    }

</table>
}
